.trader-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
}

.trader-section .title{
    font-style: normal;
    font-weight: 700;
    font-size: 4.25rem;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 4.5rem;
    max-width: 40rem;
    margin-top: 3rem;
}

.trader-section .trading-terminal img{
    margin: 0 auto;
    width: 80vw;
}

.trader-section .image-feature .title{
    margin-top: 0;
}

.trader-section .caption {
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    width: 55rem;
    font-weight: 500;
    line-height: 30px;
    color: #E7E7E7;
    margin-top: 4.25rem;
}

.trader-section .feature-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6.5rem;
    padding: 0 10%;
}

.trader-section .feature-list .feature{
    flex-basis: 30%;
    /* max-width: 20rem; */
}

.trader-section .feature{
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    color: #ABABB9;
}

.trader-section .feature span{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 25px;
    color: #FFFFFF;
    /* display: flex; */
    align-items: center;
}

.trader-section .feature img{
    margin-right: 0.35rem;
    height: 16px;
    vertical-align: middle;
}

.trader-section .image-feature-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.trader-section .image-feature-list .image-feature{
    background: #171717;
    border-radius: 20px;
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 2rem 0rem;
}
.trader-section .image-feature-list .image-feature:nth-child(1){
    margin-right: 0.65rem;
}
.trader-section .image-feature-list .image-feature:nth-child(2){
    margin-left: 0.65rem;
}

.trader-section .image-feature-list .image-feature .title{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.trader-section .image-feature-list .image-feature img{
    width: 100%;
}

.trader-section .image-feature-list .image-feature .image{
    margin-top: auto;
}

.trader-section .image-feature-list .image-feature .caption{
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 30px;
    width: 100%;
    color: #ABABB9;
    text-align: left;
    margin-top: 0;
}

@media(min-width:768px) and (max-width:1050px){
    .trader-section .caption{
        width: 100%;
    }
}

@media(max-width: 768px){
    .trader-section .title{
        font-style: normal;
        font-weight: 700;
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .trader-section .caption{
        width: 80%;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        /* or 133% */

        text-align: center;
    }

    .trader-section .image-feature-list{
        display: flex;
        flex-direction: column;

    }

    .trader-section .image-feature-list .image-feature{
        width: auto;
        padding: 1.5rem 1rem 0rem;
        height: 100%;
    }

    .trader-section .image-feature-list .image-feature:nth-child(1){
        margin-bottom: 2rem;
    }

    .trader-section .image-feature-list .image-feature .title{
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .trader-section .image-feature-list .image-feature .caption{
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 18px;
        color: #ABABB9;
    }

    .trader-section .image-feature-list .image-feature img{
        margin-top: 4rem;
    }

    .trader-section .feature-list .feature{
        flex-basis: 45%;
        font-size: 0.65rem;
    }

    .trader-section .feature span{
        font-style: normal;
        font-weight: 600;
        font-size: 0.65rem;
        line-height: 12px;
    }

    .trader-section .feature img{
        height: 12px;
    }
    .trader-section .image-feature-list .image-feature:nth-child(1){
        margin-right: 0;
    }
    .trader-section .image-feature-list .image-feature:nth-child(2){
        margin-left: 0;
    }

    .trader-section .feature-list{
        padding: 0;
    }
}

@media (min-width : 1600px) {
    .trader-section .image-feature-list .image-feature{
        height: 35rem;
    }

    .trader-section{
        padding: initial;
    }

    .trader-section .trading-terminal img{
        width: 1440px;
    }
}